a {color: #3498DD; text-decoration: none;}
a:hover {color: #0056B3}
ul.header-top {list-style-type: none; margin: 0; padding: 0; background-color: #999; overflow: hidden;}
li.header-text {float: left;}
li>a.inactive {color: white; padding: 14px 16px; display: inline-block; text-decoration: none;}
li>a.inactive:hover {background-color: #555;}
li>a.active {color: white; padding: 14px 16px; display: inline-block; text-decoration: none; background-color: blue;}
li>a.name {color: white; padding: 14px 16px; display: inline-block; text-decoration: none; background-color: #555;}
button {color: white; border-color: transparent; background-color: blue; border-radius: 6.67px;}
button:hover {background-color: #000;}
button.big {font-size: 150%; border-radius: 10px;}
button.copy {color: #3498DB; border-color: #3498DB; background-color: white;}
button.copy:hover {background-color: #EAF4FB;}
button.copy-succeed {color: #3498DB; border-color: #3498DB; background-color: #3498DB;}
h1 {font-size: 1.75em;}
h2 {font-size: 1.25em;}
h3 {font-size: 1.125em;}
h4 {font-size: 1em;}
h5 {font-size: 0.875em;}
h6 {font-size: 0.75em;}
blockquote {padding: 10px 20px; margin: 0 0 20px; border-left: 5px solid #eee;}
.highlight-yellow {display: inline-block; font-size: 16px; background-color: yellow;}
code {font-family: monospace, monospace; font-size: 1em;}
code.inline {color: #e74285; background-color: #ffe3eb; display: inline-block;}
small {font-size: 80%;}
textarea {font-family: inherit; font-size: 100%; line-height: 1.15; margin: 0; resize: none;}
