a {color: #3498DD; text-decoration: none;}
a:hover {color: #0056B3}
ul.header-top {list-style-type: none; margin: 0; padding: 0; background-color: #eee; overflow: hidden;}
ul.header-top>li.header-text {float: left;}
ul.header-top>li.header-text>a.inactive {color: black; background-color: #eee; padding: 14px 16px; display: inline-block; text-decoration: none;}
ul.header-top>li.header-text>a.inactive:hover {background-color: #ccc;}
ul.header-top>li.header-text>a.active {color: white; padding: 14px 16px; display: inline-block; text-decoration: none; background-color: blue;}
ul.header-top>li.header-text>a.name {color: white; padding: 14px 16px; display: inline-block; text-decoration: none; background-color: #333;}
button {color: white; border-color: transparent; background-color: #8F000B; border-radius: 6.67px;}
button:hover {background-color: #000;}
button.big {font-size: 150%; border-radius: 10px;}
h1 {font-size: 1.75em;}
h2 {font-size: 1.25em;}
h3 {font-size: 1.125em;}
h4 {font-size: 1em;}
h5 {font-size: 0.875em;}
h6 {font-size: 0.75em;}
blockquote {padding: 10px 20px; margin: 0 0 20px; border-left: 5px solid #eee;}
.highlight-yellow {display: inline-block; font-size: 16px; background-color: yellow;}
code {font-family: monospace, monospace; font-size: 1em;}
code.inline {color: #e74285; background-color: #ffe3eb; display: inline-block;}
small {font-size: 80%;}
textarea {font-family: inherit; font-size: 100%; line-height: 1.15; margin: 0; resize: none;}
textarea.no-edit {display: block; border-color: transparent; font-size: 1em; pointer-events: none;}
