a {
    color: #3498DD;
    text-decoration: none;
}
a:hover {
    color: #0056B3;
    text-decoration: none;
}
ul.header-top {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #999;
    overflow: hidden;
    /*来源链接：https://www.runoob.com/try/try.php?filename=trycss_navbar_horizontal_float&basepath=0*/
}
li.header-text {
    float: left;
}
li>a.inactive {
    color: white;
    padding: 14px 16px;
    display: inline-block;
    text-decoration: none;
}
li>a.active {
    color: white;
    padding: 14px 16px;
    display: inline-block;
    text-decoration: none;
    background-color: blue;
}
li>a.inactive:hover {
    background-color: #555;
}
button {
    color: white;
    border-color: transparent;
    background-color: blue;
}
button:hover {
    color: white;
    border-color: transparent;
    background-color: #000;
}
